/* General settings */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4a2323;
}

/* Media queries */

/* Mobile style */

@media screen and (max-width: 576px) {

  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef8d8;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
  }

  .honey-pic2 {
    width: 350px;
  }

}

/* Medium-large style */

@media screen and (min-width: 577px) and (max-width: 1199px) {

  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef8d8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 25px;
  }

  .text-container {
    margin-top: 2rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
  }

  .honey-pic2 {
    width: 450px;
    height: 300px;
    object-fit: cover;
    padding-right: 1.5rem;
  }

}

/* Desktop style */

@media screen and (min-width: 1200px) {

  .article-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #fef8d8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 25px;
  }

  .text-container {
    margin-top: 2rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
  }

  .honey-pic2 {
    width: 450px;
    height: 300px;
    object-fit: cover;
    padding-right: 1.5rem;
  }

}






