body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4a2323;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.honey-pic {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.product {
  background-color: #fef8d8;
  width: 350px;
  height: 170px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.prod-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
}

.description {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.price {
  font-size: 1.8rem;
}

.product-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.prod-title-container {
  display: flex; 
  flex-direction: column;
}

.btn-container {
  text-align: center;
}

.cart-btn {
  background-color: #ffdd61;
  border: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 20px;
  color: #4a2323;
  font-size: 1rem;
}

